{% extends "base.html" %}
{% load staticfiles promotion_tags %}

{% block styles %}
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/base_style.css" %}" />
{% endblock %}

{% block layout %}

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {# include "partials/nav_accounts.html" #}
{% block header_complete %}
  {% include "ad_manage/partials/navbar_inside.html" %}
{% endblock header_complete %}
    {# Main content of page - other layout templates may override this block #}
{% block second_navbar %}{% endblock second_navbar %}

    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block footer_lay %}{% include "partials/footer.html" %}{% endblock footer_lay %}


{% endblock %}

<div id="toTop"></div>

{# Local scripts #}
{% block scripts %}
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static 'js/core/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery-ddslick/jquery.ddslick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/parallax/parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/retina-replace/retina-replace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/wow/wow.min.js' %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
