{% extends "customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}
<div class="row">
  <div class="col-md-4">
      <h3>Primer bloque de datos</h3>
      <ul>
        <li>Avatar: {{ user.customer_profile.get_avatar  }}</li>
        <li>Fullname: {{ user.get_full_name|default:'-' }}</li>

        {% if user.customer_profile.is_mentor %}
        {# se hace pequenia codnicional para mostrar cierto boton #}
            <li><a href="{% url 'customeri:become-mentor-step1' %}" class="btn_full_outline">{% trans "Create a course" %}</a></li>
            {% else %}
            <li><a href="{% url 'become-mentor' %}" class="btn_full_outline">{% trans "Become a mentor" %}</a></li>
        {% endif %}
      </ul>
  </div>

  <div class="col-md-4">
      <h3>Segundo bloque de datos</h3>


  </div>

  <div class="col-md-4">

  </div>

</div>

{% endblock %}
